autopep8==1.5.6
imagiz==0.5
imutils==0.5.4
pyfakewebcam==0.1.0
pylint==2.7.2
PyQt5==5.15.2
pyqt5-tools==5.15.2.3.0.2
requests==2.25.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.1
termcolor==1.1.0
virtualenv==20.4.3